
<style>
</style>

<main class="main">
  <div class="logo"></div>
  <div class="search">
    <icon class="search-icon" icon="actions/Search"></icon>
    <typography color="grey" variant="text2">Search...</typography>
  </div>
  <div class="menu">
    <icon class="chat-button" icon="communication/Chat"></icon>
    <icon class="notification-button" icon="common/Bell">
      <notification-pill class="notification-count">5</notification-pill>
    </icon>
    <div class="profile">
      <dropdown class="name" [items]="['Example Text', 'Example Text 2']">
        <div class="avatar"></div>
        <typography color="grey" variant="text2">X'eriya Ponald</typography>
      </dropdown>
    </div>
  </div>
</main>
