
<style>
</style>

<main class="main">
  <div class="logo"></div>
  <div class="search">
    <icon class="search-icon"></icon>
    <typography color="grey" variant="text2">Search...</typography>
  </div>
  <div class="menu">
    <icon class="chat-button"></icon>
    <icon class="notification-button">
      <notification-pill class="notification-count">5</notification-pill>
    </icon>
    <div class="profile">
      <div class="avatar"></div>
      <div class="name">
        <typography color="grey" variant="text2">X'eriya Ponald</typography>
      </div>
      <div class="downarrow">V</div>
    </div>
  </div>
</main>
